/*
	Places footer at bottom of window or content,
	whichever is further.
*/

$footer-height: 3rem;

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

._body {
	box-sizing: border-box;
	min-height: 100%;
	overflow: hidden;
	padding-bottom: $footer-height;
	margin-bottom: -$footer-height;
}

._sitefoot {
	box-sizing: border-box;
	height: $footer-height;
	overflow: hidden;
}
