<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% if page.title %}{{page.title}} – {%endif%}UVic CfAR</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=563"/>
	<link rel="stylesheet" href="/r/greedymenu.css"/>
	<link rel="stylesheet" href="/r/base.css"/>
	{% if page.stylesheet %}
		<link rel="stylesheet" href="/r/{{page.stylesheet}}.css"/>
	{% endif %}
</head>
<body>
<div class="_body">

<header class="_sitehead">
	<nav class="_associations">
		<ul>
			<li class="_engr">
				<a href="http://www.uvic.ca/engineering/">
					<img
						src="/r/engr.svg"
						alt="University of Victoria Engineering"
						height="82"
						width="57"
					/>
				</a>
			</li>
			<li><a href="http://www.engr.uvic.ca/~aero/">UVic AERO</a></li>
			<li><a href="http://www.csdc.uvic.ca/home.php">ECOsat</a></li>
			<li><a href="https://onlineacademiccommunity.uvic.ca/rocketry/">UVic Rocketry</a></li>
		</ul>
	</nav>

	<nav class="_mainmenu greedymenu--styled">
		<ul class="_mainmenu__list">
			<li class="_cfar greedymenu__fixed"><a href="/" {% if page.url == '/' %}class="current"{%endif%}>Home</a></li>
			<li><a href="/research.html" {% if page.url == '/research.html' %}class="current"{%endif%}>Research</a></li>
			<li><a href="/partnerships.html" {% if page.url == '/partnerships.html' %}class="current"{%endif%}>Partnerships</a></li>
			<li><a href="/collaborators.html" {% if page.url == '/collaborators.html' %}class="current"{%endif%}>Collaborators</a></li>
			<li><a href="/contact-us.html" {% if page.url == '/contact-us.html' %}class="current"{%endif%}>Contact Us</a></li>
			<li><a href="/about-us.html" {% if page.url == '/about-us.html' %}class="current"{%endif%}>About Us</a></li>
		</ul>
	</nav>
	<script src="/r/greedymenu.js"></script>
</header>

<main class="_sitemain">
	<div class="_readable">
		{{content}}
	</div>
</main>

</div>
<footer class="_sitefoot">
	&copy; Copyright University of Victoria Centre for Aerospace Research
</footer>
</body>
</html>
