---
---
@import "vars";

.people__core,
.people__associate,
.people__more {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	dl, dt, dd {
		margin: 0;
		padding: 0;
	}

	dl {
		display: inline-block;
		margin: $rem;
		text-align: center;
	}

	dt {
		display: block;
		margin: 0 auto;
		background: black;
		overflow: hidden;
		color: white;
		border-radius: 6px;

		&.hasLink {
			// link will do the rounding and bg instead
			overflow: visible;
			background: transparent;
		}
	}

	a {
		display: block;
		color: white;
		border-radius: 6px;
		overflow: hidden;
		background: black;
		border: 3px solid $cfar-orange;

		&:hover {
			background-color: $cfar-orange;
		}
	}
}

.people__core {
	font-size: larger;
	max-width: (200px + (2 * $rem)) * 3; // fit 3 across at most

	dl { width: 200px; }

	dt { padding: 0; }

	span {
		display: block;
		padding: $rem / 2;
	}

	img {
		filter: grayscale(1);
	}

	:hover img {
		filter: none;
	}
}

.people__associate,
.people__more {
	dt {
		padding: $rem / 2;

		&.hasLink {
			padding: 0;
		}
	}

	a {
		padding: $rem / 2;
	}
}

.people__associate {
	dl { min-width: 160px; }
}

.people__more {
	dl { min-width: 100px; }
}
