---
---
@import "vars";

.collaborators {
	list-style: none;
	padding: 0;
	text-align: center;
	max-width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	li {
		display: inline-block;
		max-width: 250px;
		vertical-align: top;
		margin-bottom: $rem;

		// put WD on its own line
		&:first-child {
			flex-basis: 100%;
		}

		// put HCC + Camosun on a line
		&:nth-child(2), &:nth-child(3) {
			flex-basis: 50%;
		}
	}

	img {
		height: 60px;
	}
}
